body {
    font-family: "Barlow Condensed", sans-serif;
    background-color: #eee;
    /* background-image: url(https://lh3.googleusercontent.com/gps-cs-s/APNQkAGwupFTiGZaKn82XbC_Li94zz6GaSSX8ElSkb4nEe6KlsrZsz4Duqh9WyZOTZ7GxBhtIfargHqRnZaoQ2A9gp_c-cILYxAylqJ_c18D3UJdMCXh6KrC08ZNCWL0kTkLz8Splzefma3FGf0b=s1360-w1360-h1020-rw); */
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

:root {
    --color-textos-titulo: #000;
    --color-botones: #cf242f;
    --color-hover-botones: #e86465;
    --background-color2: #e13d48;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, p, a, label {
    color: var(--color-textos-titulo);
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2em;
    letter-spacing: 0.6px;
}

a {
    text-decoration: none;
}

.div-olympic-logo {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.img-logo {
    width: 300px;
    height: auto;
    transform: scale(1);
    transition: transform .2s;
}

.img-logo:hover {
    transform: scale(1.1);
}

.div-login {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 20px #0003;
    outline: 2px solid #eee;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iniciar-sesion-texto {
    margin-bottom: 15px;
}

.div-form {
    width: 80%;
}

.label-input{
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 0.7px;
}

.input-login {
    width: 100%;
    font-size: 0.9em;
    padding: 10px 5px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

.div-botones-login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.boton-login {
    display: inline-block;
    font-family: inherit;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    padding: 6px 30px;
    background-color: var(--color-botones);
    border: none;
    border-radius: 10px;
    outline: solid #fff 1px;
    transform: scale(1);
    transition: border-radius .2s, outline .2s, transform .2s, background-color .2s;
}

.boton-login:hover {
    color: #111;
    outline: solid var(--color-hover-botones) 2px;
    transform: scale(1.10);
    background-color: #fff;
}

.div-extra-links-login {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.no-cuenta-link {
    font-size: 1.1em;
}

.no-cuenta-link:hover {
    text-decoration: underline;
}

.p-error {
    color: var(--color-textos-titulo);
}