body {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 18px;
}

:root {
    --color-botones: #cf242f;
    --color-hover-botones: #e86465;
    --color-texto-botones: #eee;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, label {
    padding: 0;
    margin: 0;
}

span {
    font-weight: bold;
}

.titulo-panel-gestion-productos, .titulo-alertas-reportes {
    font-size: 2.2em;
    margin-top: 20px;
}

.titulo-alertas-reportes {
    margin: 20px 0;
}

.boton-agregar-producto {
    font-size: 0.9em;
    font-weight: bold;
    color: var(--color-botones);
    padding: 8px 18px;
    background-color: #ddd;
    border: none;
    border-radius: 20px;
    outline: solid var(--color-hover-botones) 1px;
    transform: scale(1);
    transition: background-color .2s, color .2s, transform .2s;
}

.boton-agregar-producto:hover {
    background-color: var(--color-hover-botones);
    color: var(--color-textos);
    transform: scale(1.05);
}

.grid-lista-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

.tarjeta-producto {
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px #0003;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.div-botones-tarjeta {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.boton-tarjeta {
    font-size: 0.9em;
    font-weight: bold;
    color: var(--color-botones);
    padding: 5px 18px;
    background-color: #eee;
    border: none;
    border-radius: 20px;
    outline: solid var(--color-hover-botones) 1px;
    transform: scale(1);
    transition: background-color .2s, color .2s, transform .2s;
}

.boton-tarjeta:hover {
    background-color: var(--color-hover-botones);
    color: var(--color-textos);
    transform: scale(1.05);
}

.linea-separador {
    width: 100%;
    height: 2px;
    margin-top: 40px;
    background-color: #000;
}

.div-alertas-a, .div-alertas-b {
    width: 80%;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    border-left: 8px solid #155724e7;
    box-shadow: 0 0 20px #0003;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-alertas-b {
    border-left: 8px solid #cf242f;
}

.titulo-alertas {
    font-size: 1.6em;
}

.div-alertas-alto, .div-alertas-bajo {
    min-width: 50%;
    background-color: #155724e7;
    border: solid 2px #6c6;
    border-radius: 10px;
    padding: 12px 10px;
    margin-top: 10px;
}

.div-alertas-bajo {
    background-color: #7b1e1ee7;
    border: solid 2px #ef7979;
}

.texto-alerta {
    color: var(--color-texto-botones);
    font-size: 1.1em;
}

.p-mensaje {
    color: #fff;
    background-color: #155724e7;
    border: solid 2px #6c6;
    border-radius: 10px;
    padding: 8px;
    margin-top: 10px;
}