body {
    font-family: "Barlow Condensed", sans-serif;
    background-color: #eee;
    font-size: 18px;
    margin: 0;
    padding: 20px 0; /* Un poco de padding vertical para que no pegue en los bordes */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

:root {
    --color-textos-titulo: #000;
    --color-botones: #cf242f;
    --color-hover-botones: #e86465;
    --background-color2: #e13d48;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, p, a, label {
    color: var(--color-textos-titulo);
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.div-olympic-logo {
    margin-bottom: 20px; 
}

.img-logo {
    width: 250px;
    height: auto;
    transform: scale(1);
    transition: transform .2s;
}

.img-logo:hover {
    transform: scale(1.1);
}

.div-signup {
    width: 90%;
    max-width: 450px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 20px #0003;
    outline: 2px solid #eee;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-signup {
    width: 100%;
}

.input-grupo {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-grupo-crear {
    text-align: center;
    margin-top: 25px;
}

.label-input {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.7px;
    margin-bottom: 5px;
}

.input-signup {
    width: 100%;
    font-size: 0.9em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #e5effb;
}

.input-signup:focus {
    outline: solid 2px #000;
}

.input-archivo-oculto {
    display: none;
}

.boton-foto-perfil, .boton-crear-cuenta {
    display: inline-block;
    font-family: inherit;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    padding: 8px 30px;
    background-color: var(--color-botones);
    border: none;
    border-radius: 10px;
    outline: solid #fff 1px;
    cursor: pointer;
    transition: transform .2s, background-color .2s, color .2s, outline .2s;
}

.boton-foto-perfil {
    margin-top: 5px;
    align-self: flex-start;
}

.boton-foto-perfil:hover, .boton-crear-cuenta:hover {
    color: #111;
    outline: solid var(--color-hover-botones) 2px;
    transform: scale(1.05);
    background-color: #fff;
}

.link-login {
    margin-top: 20px;
    font-size: 1.1em;
}