{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block contenido %}
    <div class="div-principal">
        <div class="div-seccion-bienvenida">
            <img src="{% static "img/index-primera-imagen.png" %}" alt="img-index" class="img-index">
        </div>
        <div class="div-bienvenida-pagina">
            <h2 class="texto">COMPRA NUESTROS PRODUCTOS</h2>
            <p class="p-div2">Conoce más sobre nuestros últimos productos</p>
            <a href="{% url "inicio_catalogo" %}" class="boton-comprar">Comprar</a>
            <p>CLUB OLYMPIC</p>
            <img src="{% static "img/index-segunda-imagen.png" %}" alt="img-index" class="img-index2">
        </div>
        <div class="div-seccion-productos">
            <div class="div-productos-volley">
                <h2 class="titulo-tarjeta">Conjuntos Olympic</h2>
                <p class="p-div3">¡Representa de la mejor manera a tu equipo de volley con nuestros conjuntos!</p>
                <a href="http://127.0.0.1:8000/ventas/productos/?categoria=1" class="boton-ver-mas">Ver más</a>
                <img src="{% static "img/volley-ball.png" %}" alt="img-volley-tarjeta" class="img-seccion-producto">
            </div>
            <div class="div-productos-futbol">
                <h2 class="titulo-tarjeta">Tenis y Zapatos Deportivos</h2>
                <p class="p-div3">Gana tus partidos con los mejores tenis y zapatos deportivos</p>
                <a href="http://127.0.0.1:8000/ventas/productos/?categoria=2" class="boton-ver-mas">Ver más</a>
                <img src="{% static "img/shoes.png" %}" alt="img-soccer-tarjeta" class="img-seccion-producto">
            </div>
        </div>
        <div class="div-seccion-conoce">
            <img src="{% static "img/index-septima-imagen.png" %}" alt="img-conocer-tarjeta" class="img-seccion-conocer">
            <div class="div-textos-conocer">
                <h2 class="titulo-tarjeta">Conoce más sobre nosotros</h2>
                <p class="p-div4">Ven y se parte de la familia Olympic</p>
                <a href="{% url "nosotros" %}" class="boton-conocer">Conocer más</a>
            </div>
        </div>
        <div class="div-seccion-conoce div-seccion-conoce-mapa">
            <div class="div-textos-conocer">
                <h2 class="titulo-tarjeta">Ven a nuestras instalaciones</h2>
                <p class="p-div4">¡Únete a nosotros!</p>
                <a href="{% url "ubicacion" %}" class="boton-conocer">Conocer más</a>
            </div>
            <div class="div-mapa">
                <img src="{% static "img/index-octava-imagen.png" %}" alt="img-conocer-tarjeta" class="img-mapa">
            </div>
        </div>
    </div>
{% endblock %}