{% extends "base_panel.html" %}
{% load static %}

{% block enlaces_extra %}
    <li><a href="{% url "crear_proveedor" %}" class="nav-link">Proveedores</a></li>
    <li><a href="{% url "categorias" %}" class="nav-link">Categorias</a></li>
    <li><a href="{% url "panel_pedidos" %}" class="nav-link">Pedidos</a></li>
{% endblock %}

{% block extra_css %}
    <!-- Trae todo el contenido original del bloque padre -->
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/panel_gestion_inventario.css" %}">
{% endblock %}

{% block contenido %}
    <h2 class="titulo-panel-gestion-productos">PANEL DE GESTION DE PRODUCTOS (CLUB OLYMPIC)</h2>
    <p>Usuario actual: {{ request.user.username }} | Rol: {{ request.user.rol }}</p>
    <hr>
    <a href="{% url "crear_producto" %}" class="boton-agregar-producto">Agregar nuevo producto</a>
    {% if messages %}
            {% for message in messages %}
                <p class="p-mensaje">{{ message }}</p>
            {% endfor %}
        {% endif %}
    <div class="grid-lista-productos">
        {% for producto in productos %}
            <article class="tarjeta-producto">
                <h2>{{ producto.nombre }}</h2>
                <p><span>ID:</span> {{ producto.id_producto }}</p>
                <p><span>Descripcion:</span> {{ producto.descripcion }}</p>
                <p><span>Categoria:</span> {{ producto.id_categoria.nombre }}</p>
                <p><span>Precio:</span> {{ producto.precio }}</p>
                {% if producto.stock_total %}
                    <p><span>Stock Actual:</span> {{ producto.stock_total }} unidades</p>
                {% else %}
                    <p><span>Stock Actual:</span>Sin stock disponible</p>
                {% endif %}
                <div class="div-botones-tarjeta">
                    <a href="{% url "editar_producto" producto.id_producto %}" class="boton-tarjeta">Editar</a>
                    <form method="POST" action="{% url "eliminar_producto" producto.id_producto%}" onsubmit="return confirm('¿Estas totalmente seguro de que quieres eliminar {{ producto.nombre }} del sistema? Esta acción no se puede deshacer.')">
                        {% csrf_token %}
                        <button type="submit" class="boton-tarjeta">Eliminar</button>
                    </form>
                </div>
            </article>
        {% endfor %}
    </div>
    <div class="linea-separador"></div>
    <h2 class="titulo-alertas-reportes">ALERTAS Y REPORTES</h2>
    <div class="div-alertas-a">
        <h2 class="titulo-alertas">Alertas de Inventario (Stock Suficiente)</h2>
        {% for alerta in productos_alto_stock%}
        <div class="div-alertas-alto">
            <p class="texto-alerta">Quedan {{ alerta.stock_total }} unidades de {{ alerta.nombre }}, stock suficiente.</p>
        </div>
        {% endfor %}
    </div>
    <div class="div-alertas-b">
        <h2 class="titulo-alertas">Alertas de Inventario (Stock Bajo)</h2>
        {% for alerta in productos_bajo_stock%}
        <div class="div-alertas-bajo">
            <p class="texto-alerta">¡Atención! Solo quedan {{ alerta.stock_total }} unidades de {{ alerta.nombre }}.</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}